header {
    padding: 1em;
    padding-bottom: 0;
    background-image:
    linear-gradient(to bottom, rgba(46, 64, 82, 0.75), rgba(29, 10, 31, 1)),
    url('../../../assets/header.jpg');
    background-size: cover;
    background-position: center;
    color: $primary-2; 
    margin-bottom: 2em;   

    .intro {
        display: inline-block;
        width: 40ch;
        max-width: 100%;
    }
}