$primary: #3D3C3D;
$secondary: #5E5C5D;
$background: #F6F6F6;
$primary-2: white;
$secondary-2: #C8C8C8;
$background-2: #2E4052;
$interactable: #00a7fe;

@import url("https://use.typekit.net/ydc4mzx.css");
:root {
    font-family: museo, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    color: $primary;
}

h1, h2, h3 {
    font-family: museo, serif;
    font-style: normal;
    font-weight: 500;
}

h1 {
    font-size: 1.85rem;
}

.script {
    font-family: origins, sans-serif;
    font-size: 1.85em;
    line-height: 0.5em;
}

a {
    color: $interactable;
}

hr {
    border: 0;
    border-top: 2px solid #F6F6F6;
    opacity: 0.12;
    margin: 0;
}

body {
    background-color: $background;
}